@model DiversHotel.ViewModels.BookViewModel

@{
    ViewBag.Title = "Book A Vacation";
    Layout = "_Layout";
}

<h1 class="text-center">Book A Vacation</h1>


<form method="post">
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control">
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="form-control">
        </div>

    </div>
    <div class="form-group">
        <label asp-for="NoOfAdults"></label>
        <input asp-for="NoOfAdults" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="NoOfChildren"></label>
        <input asp-for="NoOfChildren" class="form-control">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="RoomTypeSelected"></label>
            <select asp-for="RoomTypeSelected" class="form-control">
                @foreach (var room in Model.RoomType)
                {
                    <option selected>@room</option>
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="MealTypeSelected"></label>
            <select asp-for="MealTypeSelected" class="form-control">
                @foreach (var mealType in Model.MealPlan)
                {
                    <option selected>@mealType</option>
                }
            </select>
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="CheckIn"></label>
            <input asp-for="CheckIn" class="form-control" type="date">
        </div>


        <div class="form-group col-md-6">
            <label asp-for="CheckOut"></label>
            <input asp-for="CheckOut" class="form-control" type="date">
        </div>
    </div>

    <div class="text-center">
        <button  type="submit" class="btn btn-primary">Book</button>

    </div>

</form>